.popup_style {
    /* position: absolute !important; */
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    top:0px !important;
    left:0px !important;
    background-color: black;
    z-index: 9999999999999 !important;
    margin: 0 !important;
}

#mv_popup_list {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 999999999;
    width: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
}

.mv_image {
    /* margin: 0px 15px 0px 15px; */
    border-left: 2px solid white;
}